body {
  font-family: 'Quicksand', sans-serif;
  color: #565656;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d4e7ee;
  margin-bottom: 20px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h3 {
  margin: 5px;
}

img {
  width: 250px;
  height: 250px;
}

.all-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.single-card {
  height: 300px;
  width: 300px;
  border: 1px solid #d4e7ee;
  margin-bottom: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-container {
  width: 80vw;
  margin: 0 auto;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}

.nav-left {
  display: flex;
  text-align: left;
}

.nav-center {
  text-align: center;
}

.nav-center h1 {
  font-size: 35px;
}

.nav-child {
  width: 30%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  color: #2196f3;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.single-card-link-wrapper {
  text-align: center;
  color: #565656;
}

.single-card-link-wrapper:hover {
  color: #007ba7;
}

.orderHistory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.order-group-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.order-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.order-group {
  background: #e6e6e6;
  margin-bottom: 20px;
  border-radius: 5px;
}

.order-group h4 {
  margin: 5px;
  text-align: left;
}
.order-group p {
  margin: 10px 5px;
}

.order-group table {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-top: none;
  width: 100%;
  table-layout: fixed;
  text-align: center;
  z-index: 5;
}
.order-group tr > td:first-child {
  width: 100px;
  height: 100px;
}

.order-group img {
  height: 100%;
  width: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  flex: 25%;
}

.col-50 {
  flex: 50%;
}

.col-75 {
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-bottom: 20px;
}

.col-50 > input[type='text'], input[type='email'] {
  width: 95%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #45bde9;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196f3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

.admin-dashboard {
  text-align: center;
}

.user-dashboard {
  text-align: center;
}

.admin-dashboard-user {
  text-align: center;
  list-style-type: none;
  font-size: 25px;
}

.confirmation-page-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.confirmation-page-shipping {
  border: 1px solid #d4e7ee;
  padding: 10px 25px 45px 45px;
}

.confirmation-page-items {
  border: 1px solid #d4e7ee;
  padding: 10px 25px 45px 45px;
}

.single-glasses-container {
  width: 350px;
}

.hidden {
  display: none;
}

.error {
  color: red;
  size: 12px;
}

.homepage-container {
  text-align: center;
}

.confirmation-page-shipment-details {
  list-style-type: none;
}

.cart-single {
  width: 100%;
  padding: 20px;
  display: flex;
}

.cart-single-info {
  margin-left: 50px;
}

.cart-items, .cart-total  {
  border: 1px solid #d4e7ee;
  padding: 10px 25px 45px 45px;
  margin-bottom: 40px;
}
